annual_data/.DS_Store
annual_data/2019_station_data.csv
annual_data/2020_station_data.csv
annual_data/2021_hours_data.csv
annual_data/2021_station_data.csv
annual_data/demographic_data.csv
annual_data/station_data.csv
monthly_data/2019_monthly_files/201901-citibike-tripdata.csv
monthly_data/2019_monthly_files/201902-citibike-tripdata.csv
monthly_data/2019_monthly_files/201903-citibike-tripdata.csv
monthly_data/2019_monthly_files/201904-citibike-tripdata.csv
monthly_data/2019_monthly_files/201905-citibike-tripdata.csv
monthly_data/2019_monthly_files/201906-citibike-tripdata.csv
monthly_data/2019_monthly_files/201907-citibike-tripdata.csv
monthly_data/2019_monthly_files/201908-citibike-tripdata.csv
monthly_data/2019_monthly_files/201909-citibike-tripdata.csv
monthly_data/2019_monthly_files/201910-citibike-tripdata.csv
monthly_data/2019_monthly_files/201911-citibike-tripdata.csv
monthly_data/2019_monthly_files/201912-citibike-tripdata.csv
monthly_data/2020_monthly_files/202001-citibike-tripdata.csv
monthly_data/2020_monthly_files/202002-citibike-tripdata.csv
monthly_data/2020_monthly_files/202003-citibike-tripdata.csv
monthly_data/2020_monthly_files/202004-citibike-tripdata.csv
monthly_data/2020_monthly_files/202005-citibike-tripdata.csv
monthly_data/2020_monthly_files/202006-citibike-tripdata.csv
monthly_data/2020_monthly_files/202007-citibike-tripdata.csv
monthly_data/2020_monthly_files/202008-citibike-tripdata.csv
monthly_data/2020_monthly_files/202009-citibike-tripdata.csv
monthly_data/2020_monthly_files/202010-citibike-tripdata.csv
monthly_data/2020_monthly_files/202011-citibike-tripdata.csv
monthly_data/2020_monthly_files/202012-citibike-tripdata.csv
monthly_data/2021_monthly_files/202101-citibike-tripdata.csv
monthly_data/2021_monthly_files/202102-citibike-tripdata.csv
monthly_data/2021_monthly_files/202103-citibike-tripdata.csv
monthly_data/2021_monthly_files/202104-citibike-tripdata.csv
monthly_data/2021_monthly_files/202105-citibike-tripdata.csv
monthly_data/2021_monthly_files/202106-citibike-tripdata.csv
monthly_data/2021_monthly_files/202107-citibike-tripdata.csv
monthly_data/.DS_Store
.DS_Store
